@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes verticalRoll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%); /* 必要な移動距離 */
  }
}

.roulette-content {
  animation: verticalRoll 5s linear infinite;
}
